h1{
    color: red;
    text-align: center;
}

p{
    color: green;
    text-align: center;
}

tr{
    text-align: center;
}

#chaeng{
    color: #e62722;
}

#nayeon{
    color: #49c0ec;
}
#mina{
    color: #71c7d4;
}
.kr{
    color: pink;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.text-center {
    text-align: center;
  }
